# Entornos virtuales
venv/
env/
venv_tfg/
images/
notebooks/datos_procesados
data/config.yaml

notebooks/0ld

# Archivos de caché de Python
__pycache__/
*.pyc

# Variables de entorno (¡nunca subas contraseñas!)
.env

config.yml
